<div class="articles-show-comments">
  <p class="article-show-moderation">
    <%= pluralize(@comments.approved.count, "Comment") %> &nbsp &nbsp
    <% if !user_signed_in? %>
    · &nbsp &nbsp <%= link_to('Login to partecipate', new_user_session_path, class: "command-button") %>  &nbsp &nbsp
      <% end %>
    <% if signed_in? && current_user.moderator? %>
    · &nbsp &nbsp
    <%= link_to "Moderate #{pluralize @comments.draft.size, ('comment')}", article_comments_path(@article), class: "command-button" %>
    <% end %>
  </p>

  <hr>
</div>
