<div class="band"></div>

<div class="about-div">
	<h1><strong>SETTLER is an online magazine <br>devoted to the intersection of <br>
	Geography, Culture and Exploring.</strong></h1>
	<br>
	<p><strong>Publisher:</strong> Ics Ipsilon</p>
	<p><strong>Editor in Chief:</strong> John W. Kayne</p>
	<p><strong>Creative Director:</strong> P.Q.</p>
	<p><strong>Editorial board:</strong> Stephen Tagliabue</p>
	<p><strong>Photo Editor:</strong> Shon Isenberg</p>

	<br><br>
</div>
