<div class="about-container">
	<%= image_tag("logo.png", class: "about-logo") %>
	<h3 class="about-slogan">We settle at the intersection of
	Geography, Culture and Exploring.</h3>
	<div class="about-images">
		<%= image_tag("https://images.unsplash.com/photo-1497681883844-82b4f0a359a4?ixlib=rb-0.3.5&s=f6c63bbd9dbce4752a64dfebd0152d9d&auto=format&fit=crop&w=2850&q=80") %>
		<%= image_tag("https://images.unsplash.com/photo-1517842424736-542712410fd0?ixlib=rb-0.3.5&s=e25c9aacc27fe4df2a56383c99830638&auto=format&fit=crop&w=2550&q=80") %>
		<%= image_tag("https://images.unsplash.com/photo-1451930734377-eb5b3ce18143?ixlib=rb-0.3.5&s=83a258eb28baf7fad41c1181edd7a60d&auto=format&fit=crop&w=2850&q=80") %>
	</div>
	<br>
	<div class="about-list">
		<p>Publisher: Ics Ipsilon</p>
		<p>Editor in Chief: John W. Kayne</p>
		<p>Creative Director: P.Q.</p>
		<p>Editorial board: Stephen Tagliabue</p>
		<p>Photo Editor: Shon Isenberg</p>
	</div>
</div>
