<div class="static-index-container">
  <div class="background-image"></div>
  <%= image_tag("logo.png", id: "home-logo") %>
  <div id="home-slogan">
      <p class="text-center" id="title2-filled"></p>
      <p class="title2-fill">The map, the route, the territory</p>
      <p class="title2-fill">Die Karte, die Route, das Gebiet</p>
      <p class="title2-fill">La mappa, l'itinerario, il territorio</p>
  </div>
  <div id="blog-link">
    <p><%= link_to "Travel Tales", static_laststories_path %><p>
  </div>
</div>
