<div class="band">
</div>
<div class="thank-you">
    <p class="text-center">Thank you for subscribing
   	<br><br>
	<%= link_to 'Discover today\'s stories', articles_path, class: "command-button" %></p>

    </p>
</div>