<table>
  <tbody>
    <tr>
      <td><h2>Hello, <% @email %></h2></td>
    </tr>
    <tr>
      <td><p>There a brand new story on SETTLER. Come check it out:</p></td>
      <t><p><%= link_to @latest_post.title, @latest_post %> </p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>