<div class="band"></div>
<div class="text-center">

<h1>Newsletters</h1>
<% Newsletter.all.each do |newsletter| %>
  <%= button_to 'Send Weekly Newsletter', newsletter_send_to_subscribers_path(newsletter) %>
  <% end %>
  
</div>
