<div class="newsletter">
  <div class="newsletterPanel">
    <%= image_tag("logo.png", class: "pages-logo") %>

    <p>Send weekly newsletter to all subscribers</p><br>
    <% Newsletter.all.each do |newsletter| %>
      <%= button_to 'Deliver', newsletter_send_to_subscribers_path(newsletter), class: "button" %>
      <% end %>
  </div>
</div>
