<div class="newsletter">
  <div class="newsletterPanel">
    <%= image_tag("logo.png", class: "pages-logo") %>
    <u><h4>Success</h4></u>
    <p>The newsletter has been delivered to your subscribers</p>
  </div>
</div>
