/**************************/
/*** *** INDEX PAGE *** ***/

.index-container {
  padding: 30px 50px 50px 50px;
  text-align: center;
}
.index-container p {
  color: whitesmoke;
}

.show-container {
	padding: 30px 100px 30px 100px;
	background-color: #F9F9F9;
	font-size: 1.3em;
	text-align: center;
}


/**************************/
/*** *** SHOW PAGE *** ***/

.articles-show-container, .articles-show-comments {
  padding: 50px 150px 50px 150px;
  font-size: 1.7em;
  text-align: justify;
  background-color: white;
  color: #02111B; /*RICH BLACK*/
}

.other-stories {
  padding: 50px 150px 50px 150px;
  text-align: center;
}

#articles-show-title {
  text-align: center;
  font-size: 3em;
  color: #02111B; /*RICH BLACK*/
}
#articles-show-info {
    padding-bottom: 50px;
    text-align: center;
}
#articles-show-command {
  text-align: center;
}
#articles-show-command a {
  color: #02111B !important; /*RICH BLACK*/
}

#articles-show-related-title {
  font-size: 0.8em;
}

/************************/
/*** *** COMMENTS *** ***/

.articles-show-comments {
  padding: 0px 300px 50px 300px;
}
.articles-show-comments a {
  color: #02111B !important; /*RICH BLACK*/
  font-family: "Ovo" !important;
}

.article-show-moderation {
	padding: 50px 0px 15px;
	text-align: center;
}

.articles-show-comments .form-control {
  color: #02111B !important; /*RICH BLACK*/
}

.articles-show-comments .form-control:focus {
  color: #02111B !important; /*RICH BLACK*/
}

/**************************/
/*** *** FORM PAGE *** ***/
.form-container {
  padding: 50px 150px 50px 150px;
  background-color: white;
}

.form-container .form-control {
  background-color: whitesmoke;
}

.form-container .button2 {
  font-size: 1.2em;
}

.new-container, .edit-container {
  text-align: center;
  color: white;
  padding: 50px 0px 0px;
}


/****************************/
/*** *** LAST STORIES *** ***/

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.container-info {
	background-color: #EDEAE8;
	color: #02111B; /*RICH BLACK*/
	height: 520px;
	width: 500px;
	border-radius: 5px;
	padding: 30px 50px 50px;
	font-size: 0.90em;
}
.container-info a{
  color: #02111B !important;
  text-decoration: underline !important;
}

.lastories-image {
	margin: 0px 0px -114px -20px;
}

#articles-header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}
#articles-header:before {
  animation: fade-slide-down 5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url(https://images.unsplash.com/photo-1509354957033-b67480398c1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3a37c241ab1bceafcdd70c3ed99dc370&auto=format&fit=crop&w=2801&q=80) no-repeat center center fixed;
  background-size: cover;
  content: "";
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

#all-stories {
  align-items: center;
  display: flex;
  height: 100vh;
  position: absolute;
  left: 45%;
	font-size: 3em;
	transition: font-size 1s;
	-webkit-transition: font-size 1s;
}
#all-stories:hover {
  align-items: center;
  display: flex;
  font-size: 3em;
  height: 100vh;
  justify-content: center;

	font-size: 3.2em;
	transition: font-size 1s;
	-webkit-transition: font-size 1s;
}

.tag {
		z-index: 1000;
    float: left;
    position: relative;
		width: 400px;
    left: 500px;
    bottom: 200px;
		margin-bottom: -20px;
		background-color: rgba(0, 0, 0, 0.8);
		text-align: center;
		border-radius: 5px;
    color: white;

    z-index: 1;
}


/*****************************/
/*** *** MEDIA QUERIES *** ***/

@media screen and (max-width: 1000px) {
  /* SHOW */
	.articles-show-container, .articles-show-comments {
    padding: 50px 100px 50px 100px;
	}
  .otherStories {
    padding: 50px 100px 50px 100px;
  }
}
@media screen and (max-width: 800px) {
  /* SHOW */
	.otherStories {
    padding: 50px 80px 50px 80px;
	}
}
@media screen and (max-width: 600px) {
  /* SHOW */
	.articles-show-container, .articles-show-comments {
    padding: 50px 70px 50px 70px;
    font-size: 1.5em;
	}
}
@media screen and (max-width: 480px) {
  /* INDEX */
	.top-logo {
    width: 80%;
    padding: 7px 0px 50px 20px;
	}

  /* SHOW */
  .articles-show-container,.articles-show-comments {
    padding: 50px 50px 50px 50px;
    font-size: 1.2em;
  }

  /* FORM */
  .form-box {
    padding: 50px 50px 50px 50px;
  }

}
