body {
	background-color: white !important;
}

/* INDEX */
.main-title {
	font-size: 6em;
	color: #C4BD67;
}

#searchform {
	visibility: block;
}

.article-container {
	padding: 80px 100px 20px 100px;
	line-height: 30px;
	text-align: center;
}

.img-div {
  position: relative;
  overflow: hidden;
  width: 1045;
  height: 355;
}
.article-img-index {
	padding-bottom: 5px;
  -webkit-filter: grayscale(80%);
  -moz-filter:    grayscale(80%);
  -ms-filter:     grayscale(80%);
  -o-filter:      grayscale(80%);
  -webkit-transition: all 1s linear;
  -moz-transition:    all 1s linear;
  -o-transition:      all 1s linear;
  -ms-transition:     all 1s linear;
  transition:         all 1s linear; 
}
.article-img-index:hover {
  -webkit-filter: grayscale(10%);
  -moz-filter:    grayscale(10%);
  -ms-filter:     grayscale(10%);
  -o-filter:      grayscale(10%);
  -webkit-transition: all 2s linear;
  -moz-transition:    all 2s linear;
  -o-transition:      all 2s linear;
  -ms-transition:     all 2s linear;
  transition:         all 2s linear; 
}

.article-category-index {
	text-transform: uppercase;
	font-family: "Oswald";
	color: #C4BD67 !important;
}
.article-author-index {
	text-transform: uppercase;
	font-family: "Oswald";
	color: black !important;
}
.article-title-index {
	font-family: "EB Garamond" !important;
	color: black !important;
	font-size: 2em;
}
.article-brief-index a {
	font-size: 1.5em;
	color: grey !important;
	font-family: "EB Garamond" !important;
}
.command-button {
	color: #C4BD67 !important;
}
.text-command a {
	color: black !important;
}

/* EDIT */
.form-label {
	font-family: "Oswald";
	font-size: 1.5em;
}
.form-control {
	font-family: "EB Garamond";
	font-size: 1.2em;
}

/* SHOW */
.article-box {
	margin: 0px 120px 0px 120px;
}
.ac-show {
	padding: 50px 0px 20px 0px;
}
.ed-show {
	padding: 50px 0px 0px 0px;
}
.article-category-show {
	text-transform: uppercase;
	font-family: "Oswald";
	color: #C4BD67 !important;
}
.article-author-show {
	text-transform: uppercase;
	font-family: "Oswald";
	color: black !important;
}
.article-title-show {
	color: black !important;
	font-size: 6em;
}

.article-text {
	text-align: justify;
	font-size: 1.8em;
	padding: 50px 0px 20px 0px;
}

/* MOSTREAD + TAGBOX */
.mostread-box {
  background-color: white;
  padding: 90px 50px 40px 50px;
  line-height: 0.2;
}

.ac-mostread {
	font-size: 0.8em;
}
.article-title-mostread {
	color: black !important;
	font-size: 0.8em;
}

.tag-box {
  background-color: #22272B;
  color: white;
  padding: 20px 0px 90px 0px;
}
.tag-box p {
	font-size: 2em;
	font-family: "EB Garamond";
	text-transform: uppercase;	
}

.article-img-mostread {
	padding-bottom: 5px;
  -webkit-filter: grayscale(80%);
  -moz-filter:    grayscale(80%);
  -ms-filter:     grayscale(80%);
  -o-filter:      grayscale(80%);
  -webkit-transition: all 1s linear;
  -moz-transition:    all 1s linear;
  -o-transition:      all 1s linear;
  -ms-transition:     all 1s linear;
  transition:         all 1s linear; 
}
.article-img-mostread:hover {
  -webkit-filter: grayscale(10%);
  -moz-filter:    grayscale(10%);
  -ms-filter:     grayscale(10%);
  -o-filter:      grayscale(10%);
  -webkit-transition: all 2s linear;
  -moz-transition:    all 2s linear;
  -o-transition:      all 2s linear;
  -ms-transition:     all 2s linear;
  transition:         all 2s linear; 
}


/* FORM */
.form-box {
	padding: 40px 100px 0px 100px;
}

.search-form {
	text-align: center;
	font-family: "EB Garamond";
	font-size: 1.2em;

	border-color: #E5E0E1;
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	z-index: 0;
}
.search-button {
	font-family: "EB Garamond";
	border-color: #E5E0E1;
}
.search-form:focus {	
	outline: none;
	border-color: #E5E0E1;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.search-form::placeholder {

}