/* MODERATION */
.moderationTitle {
	padding: 80px 0px 50px;
	color: white;
	text-align: center;
}

.moderationTable {
	padding: 50px 0px 50px;
	background-color: white;
	text-align: center;
}

.moderationVoice {
	font-size: 1.3em;
	text-decoration: underline;
}

.mod-column {
	font-size: 0.9em;
	padding-top: 15px;
	background-color: #F9F9F9;
	text-align: center;
}

.moderation-container {
	padding-bottom: 70px;
}

/* COMMENTS */
.commentTime {
		font-size: 0.7em;
		font-style: italic;
}

.comment-box {
	margin: 0px 100px 0px 118px;
	padding-top: 50px;
}

.comment-box p {
	font-size: 1.3em;
}

.timeago {
	text-transform: uppercase;
	color: grey;
	font-size: 0.6em;
}
