.command-button {
  color: #02111B !important; /*RICH BLACK*/
}

/**************************/
/*** *** FORM PAGE *** ***/
.form-container {
  padding: 50px 150px 50px 150px;
  background-color: white;
}

.form-container .form-control {
  background-color: whitesmoke;
  color: black !important;
}

.form-container .form-control:focus {
  background-color: whitesmoke;
  color: black !important;
}

.form-container .button2 {
  font-size: 1.2em;
}

.new-container, .edit-container {
  text-align: center;
  color: white;
  padding: 50px 0px 0px;
}

/********************/
/** MEDIA QUERIES **/
@media screen and (max-width: 480px) {
  .show-container {
  	padding: 30px 20px 30px 20px;
  	background-color: #F9F9F9;
  	font-size: 1.3em;
  	text-align: center;
    }
  }
