.products-div {
	padding: 30px 40px 0px 40px;
	background-color: #F9F9F9;
	text-align: center;
}
	.products-div a {
		color: black !important;
	}

.img-product {
	margin: 0 auto;
	max-height: 220px;
	max-width: 220px;
	padding-bottom: 50px;
}

.product-name-index {
	font-size: 2em;
}
.product-description-index {
  font-size: 1.3em;
  padding: 0px 100px 0px 100px;
}

.products-show-div {
	padding: 30px 100px 30px 100px;
	background-color: #F9F9F9;
	font-size: 1.3em;
	text-align: justify;
}

.product-name {
	font-size: 2.5em;
}

.img-product-show {
	max-height: 100px;
	margin: 0 auto;
}
.name-product-show {
	font-size: 0.8em;
	font-family: Oswald;
}