<div class="band"></div>

<h1 class="text-center">Edit Product</h1>
<p class="text-center"><%= link_to 'Back', articles_path, class: "command-button" %></p>

<%= render 'form', product: @product %>

<br><br><br>